# Docker Compose image variables. The real file is stored at:
# /etc/springboot-demo-test/images.env
#
# Pipelines update only the image that belongs to the service being released.

BACKEND_IMAGE=crpi-7pvk5xebkb6d01bu-vpc.cn-hangzhou.personal.cr.aliyuncs.com/docker_sky_private/springboot-demo-backend:test-example
FRONTEND_IMAGE=crpi-7pvk5xebkb6d01bu-vpc.cn-hangzhou.personal.cr.aliyuncs.com/docker_sky_private/bajie-ops-frontend:test-example
